.header__nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 2%;
	height: 128px;
	background-color: #2c2d3b;
}

.header__nav--menu--mobile, .mobile__hamburger {
	display: none;
}

.header__nav > img {
	width: 330px;
	object-fit: contain;
}
.header__nav--menu {
	display: flex;
	flex-basis: 100%;
	justify-content: space-around;
	align-items: center;
	height: 100%;
}


.header__buttons {
	display: block;
	background-color: transparent;
	color: #2c2d3b;
	opacity: 1;
	border: none;
	outline: none;
	font-size: 26px;
	width: 100%;
	font-weight: 400;
	padding: 10px 14px;
}

.header__buttons--first {
	color: white;
}

.header__buttons--contact {
	margin: 2px;
	color: white;
}


@media (max-width: 1200px) {
	.header__logo {
		width: 20vw;
	}
}

@media (max-width: 880px) {
	.header__nav {
		flex-direction: column;
		padding: 1% 0;
		margin-bottom: 0;
	}
	.header__logo {
		width: 80%;
	}
}

@media (max-width: 700px) {
	.header__nav {
		flex-direction: row;
		justify-content: center;
		align-items: start;
		height: 100%;
	}
	.header__logo {
		width: 100%;
	}
	.header__nav--menu {
		display: none;
	}
	.mobile__hamburger, .mobile__on > .mobile__background > .mobile__hamburger {
		display: unset;
		width: 48px;
		position: absolute;
		top: 1%;
		left: 2%;
		background-color: transparent;
		border: none;
	}

	.mobile__hamburger img {
		width: 100%;
	}
	.mobile__on {
		display: unset;
	}
	.mobile__on > .mobile__background {
		position: fixed;
		width: 100vw;
		height: 100vh;
		margin: 0;
		background-color: #00000055;
		top:0;
		left: 0;
		z-index: 1010;
	}
	.mobile__on > .mobile__background > div {
		height: 100%;;
		width: 50%;
		margin:0;
		background-color: #2c2d3b;
		display: flex;
		flex-direction: column;
		row-gap: 2vw;
		padding-top: 15%
	}
	.inside__header--mobile .header__options {
		flex-basis: 0;
	}

	.mobile__on > .mobile__background button {
		font-size: 4.5vw;
		width: 100%;
		text-align: left;
	}
	
	.header__nav > img {
		width: 70vw;
	}
}
